.primary-style {
  background-color: #2964FF !important;
  border-color: #2964FF !important;
  color: #fff !important;
}
.primary-style:hover,
.primary-style:focus {
  background-color: #4C7DFF !important;
  border-color: #4C7DFF !important;
  color: #fff !important;
}
.primary-style:active,
.primary-style.active {
  background-color: #0E48DF !important;
  border-color: #0E48DF !important;
  color: #fff !important;
}
.primary-style-disabled,
.primary-style.disabled,
.primary-style[disabled],
.primary-style-disabled:hover,
.primary-style.disabled:hover,
.primary-style[disabled]:hover,
.primary-style-disabled:focus,
.primary-style.disabled:focus,
.primary-style[disabled]:focus,
.primary-style-disabled:active,
.primary-style.disabled:active,
.primary-style[disabled]:active,
.primary-style-disabled.active,
.primary-style.disabled.active,
.primary-style[disabled].active {
  background-color: #2964FF !important;
  border-color: #2964FF !important;
  color: #fff !important;
  opacity: 0.3;
}
.default-style {
  background-color: #fff !important;
  border-color: #2964FF !important;
  color: #201BA2 !important;
}
.default-style:hover,
.default-style:focus {
  background-color: #fff !important;
  border-color: #80A1F7 !important;
  color: #7772F2 !important;
}
.default-style:active,
.default-style.active {
  background-color: #fff !important;
  border-color: #033EDB !important;
  color: #0C077C !important;
}
.default-style-disabled,
.default-style.disabled,
.default-style[disabled],
.default-style-disabled:hover,
.default-style.disabled:hover,
.default-style[disabled]:hover,
.default-style-disabled:focus,
.default-style.disabled:focus,
.default-style[disabled]:focus,
.default-style-disabled:active,
.default-style.disabled:active,
.default-style[disabled]:active,
.default-style-disabled.active,
.default-style.disabled.active,
.default-style[disabled].active {
  background-color: #fff !important;
  border-color: #2964FF !important;
  color: #201BA2 !important;
  opacity: 0.3;
}
.link-style {
  color: #2964FF !important;
}
.link-style:hover {
  color: #739AFF !important;
}
.link-style:active {
  color: #0340E3 !important;
}
.link-style[disabled] {
  color: #2964FF !important;
  opacity: 0.3;
}
.cancel-style {
  background-color: #fff !important;
  border-color: #A4A4A4 !important;
  color: #BFBFBF !important;
}
.cancel-style:hover,
.cancel-style:focus {
  background-color: #fff !important;
  border-color: #A4A4A4 !important;
  color: #A4A4A4 !important;
}
.cancel-style:active,
.cancel-style.active {
  background-color: #fff !important;
  border-color: #515151 !important;
  color: #515151 !important;
}
.cancel-style-disabled,
.cancel-style.disabled,
.cancel-style[disabled],
.cancel-style-disabled:hover,
.cancel-style.disabled:hover,
.cancel-style[disabled]:hover,
.cancel-style-disabled:focus,
.cancel-style.disabled:focus,
.cancel-style[disabled]:focus,
.cancel-style-disabled:active,
.cancel-style.disabled:active,
.cancel-style[disabled]:active,
.cancel-style-disabled.active,
.cancel-style.disabled.active,
.cancel-style[disabled].active {
  background-color: #fff !important;
  border-color: #D9D9D9 !important;
  color: #BFBFBF !important;
  opacity: 0.3;
}
.danger-style {
  background-color: #fff !important;
  border-color: #FF6363 !important;
  color: #ED0000 !important;
}
.danger-style:hover,
.danger-style:focus {
  background-color: #fff !important;
  border-color: #FF6363 !important;
  color: #FF7F7F !important;
}
.danger-style:active,
.danger-style.active {
  background-color: #fff !important;
  border-color: #A61F1F !important;
  color: #A61F1F !important;
}
.danger-style-disabled,
.danger-style.disabled,
.danger-style[disabled],
.danger-style-disabled:hover,
.danger-style.disabled:hover,
.danger-style[disabled]:hover,
.danger-style-disabled:focus,
.danger-style.disabled:focus,
.danger-style[disabled]:focus,
.danger-style-disabled:active,
.danger-style.disabled:active,
.danger-style[disabled]:active,
.danger-style-disabled.active,
.danger-style.disabled.active,
.danger-style[disabled].active {
  background-color: #fff !important;
  border-color: #ED0000 !important;
  color: #ED0000 !important;
  opacity: 0.3;
}
 /deep/ .ant-tree li .ant-tree-node-content-wrapper.ant-tree-node-selected {
  background-color: transparent !important;
  color: #40a9ff;
}
 /deep/ .ant-select-tree li .ant-select-tree-node-content-wrapper.ant-select-tree-node-selected {
  background-color: transparent !important;
  color: #40a9ff;
}
 /deep/ .ant-tabs-nav .ant-tabs-tab:hover,
 /deep/ .ant-tabs-nav .ant-tabs-tab-active {
  color: #2964FF !important;
}
 /deep/ .ant-tabs-ink-bar {
  background-color: #2964FF !important;
}
 /deep/ .ant-table-thead > tr > th {
  font-weight: bold !important;
}
.dialog {
  overflow: auto !important;
}
 /deep/ .ant-drawer-mask {
  min-height: 1080px;
}
.dialog /deep/ .ant-form-item-label label {
  color: #999999 !important;
}
.more .ant-row div:hover {
  background: rgba(0, 0, 0, 0.06);
}
label {
  font-weight: 400 !important;
}
.header > div > ul > li > span {
  color: #000000;
  font-weight: 500;
}
.ant-descriptions-item-label {
  color: #000 !important;
  font-weight: 400 !important;
}
